# Built code
dist

# Libs
node_modules

# Environmental variables
env

# Client build
build

jet-logger.log

logs/


src/public/images/room-images/*

!src/public/images/room-images/roomIcon.png

src/public/downloads/windows/Swiddle.exe
src/public/downloads/mac/Swiddle.dmg
src/public/downloads/mac-arm/Swiddle.dmg
src/public/downloads/linux/Swiddle.AppImage
