div(class="overlap")
div(class="d-flex justify-content-center align-items-center h-100" id="test")
  div(class="d-flex align-items-stretch bg-white position-relative" style="border-radius: 10px;")
    span(id="close-furniture-shop" class="position-absolute text-danger font-weight-bold") &times;
    div(class="p-3")
      h4(class="text-primary mb-3") Furniture Catalog
      div(class="d-flex justify-content-between")
        nav(class="nav nav-tabs")
          each type, index in furnitureTypes
            a(href="#f-tab-"+type class="nav-item nav-link"+(index==0?" active":"") data-toggle="tab")
              img(src="/images/icons/"+type+".svg" width="20")
      div(style="height: 340px; overflow-y:auto; overflow-x:hidden;")
        div(class="tab-content" style="width: 336px; overflow:visible;")
          each type, index in furnitureTypes
            div(class="tab-pane fade"+(index==0?" show active":"") id="f-tab-"+type role="tabpanel")
              each furniture, name in furnitureList
                if furniture.type == type
                  div(class="item-container")
                    img(src="/images/home-assets/"+furniture.imageUrl class="inventory-item" data-inventory=name)
    div(class="px-3 py-5 d-flex align-items-center flex-column" style="border-left: 2px solid #E5E5E5; width: 200px;")
      each furniture, name in furnitureList
        if furniture.type == furnitureTypes[0]
          img(id="furniture-preview-img" src="/images/home-assets/"+furniture.imageUrl class="mt-3")
          div(id="furniture-preview-title" class="mt-3 font-weight-bold") #{ furniture.title }
          small(id="furniture-preview-description" class="mt-1 mb-5 text-center") #{ furniture.description }
          small(id="furniture-preview-price" class="mt-4 mb-2 text-danger font-weight-bold") #{ furniture.price } coins
          - break
      button(id="furniture-buy" class="btn btn-success btn-sm px-3 py-0" style="border-radius: 20px;")
        small() Buy
