<div id="guess-who-cameras-container" class="game-cameras-container"></div>
<span class="leave-game-button">&times;</span>
<div id="guess-who-write-statements" class="text-white d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="text-center font-weight-bold">What are 3 random things about you?</h1>
    <h5 class="text-center mb-5">Make sure that you are comfortable with friends learning these things about you</h5>
    <div class="d-flex align-items-center">
        <span>1.</span>
        <input type="text" class="form-control ml-3">
    </div>
    <div class="d-flex align-items-center mt-3">
        <span>2.</span>
        <input type="text" class="form-control ml-3">
    </div>
    <div class="d-flex align-items-center mt-3">
        <span>3.</span>
        <input type="text" class="form-control ml-3">
    </div>
    <button class="btn btn-light px-3 font-weight-bold mt-5" id="guess-who-finish-write" style="color: #ABCE61; border-radius: 20px;">Next</button>
</div>
<h1 class="text-center text-white font-weight-bold my-5 py-5" id="guess-who-waiting">Waiting for other players</h1>
<div id="guess-who-vote-container" class="text-white d-flex flex-column align-items-center absolute-bottom" style="bottom: 50px;">
    <h1 class="text-center font-weight-bold my-5 py-5">I eat bananas with the peel on</h1>
    <div id="guess-who-votes">
        <h5 class="my-5 text-center">It's probably</h5>
        <div id="guess-who-choose-name-container"></div>
    </div>
    <button class="btn btn-light px-3 font-weight-bold" id="next-guess-round" style="color: #ABCE61; border-radius: 20px;">Next</button>
</div>