<div id="humanity-cameras-container" class="game-cameras-container"></div>
<span class="leave-game-button">&times;</span>
<div class="d-flex justify-content-center my-5" id="review-card-list">
    <h5 id="black-card" class="bg-black font-weight-bold text-white px-2 py-4 mx-2 text-center">What is the reason</h5>
    <h5 class="review-card-clone px-2 py-4 bg-white align-items-center font-weight-bold mx-2 text-center">This is white
        card</h5>
</div>
<div id="white-card-list" class="mb-5 d-flex justify-content-center">
    <h5 class="white-card-clone px-2 py-4 bg-white align-items-center font-weight-bold mx-2 text-center">This is white
        card</h5>
    <h5 class="text-center text-white font-weight-bold" id="waiting-text"></h5>
</div>
<h3 class="wating-next-round text-white text-center w-100 font-weight-bold">Waiting for next round</h3>