extends layout

block vars
  - var bodyClass = 'mainBody';

block styles
  link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
  link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")

block content
  nav.navbar
    .navbar-header
      span.navbar-brand.mb-0.h1(style="font-family: \'Nunito\', sans-serif; font-weight: 900; font-size: 40px;")
        a(style="color:#ffffff", href="/")
          | Only
          span(style="color:#def3ff;") Friends
  center
    .container-fluid#landingPgBody
      .mt-3.d-sm-block.d-md-none.d-xl-none
        span.h1-color(style="font-size:45px;") &nbsp; Play games, explore! &nbsp;
      .mt-3.d-md-block.d-sm-none.d-none.d-sm-block.mb-0
        span.h1-color(style="font-size:60px;") &nbsp; Play games, explore! &nbsp;
      span.mt-0.blue-text-gradient-inter(style="font-size: 20px;") Oh and, there's so much more.
      br
      .container#mainImg
        #imgTest
          img(src="/images/screenshot.png", style="width: 80vw; max-width: 700px;")
      .container-fluid
        .dropdown(style="display: inline-block;")
          button.btn.btn-primary.waitlist-btn#dropdownMenuButton1(type="button", data-bs-toggle="dropdown", aria-expanded="false")
            a(style="font-size:18px; font-family: \'Inter\', sans-serif;")   Download  
          ul.dropdown-menu.dropdown-menu-center.mt-5.mb-5(aria-labelledby="dropdownMenuButton1")
            li
              a.dropdown-item(href="/downloads/mac-intel/OnlyFriends.dmg", style="font-family: \'Inter\', sans-serif; font-size: 17px;")
                i.fab.fa-apple  
                | Mac
            li
              a.dropdown-item(href="/downloads/mac-arm/OnlyFriends.dmg", style="font-family: \'Inter\', sans-serif; font-size: 17px;")
                i.fab.fa-apple  
                | Mac (M1)
            li
              a.dropdown-item(href="/downloads/windows/OnlyFriends.exe", style="font-family: \'Inter\', sans-serif; font-size: 17px;")
                i.fab.fa-windows  
                | Windows
            li
              a.dropdown-item(href="/downloads/linux/OnlyFriends.AppImage", style="font-family: \'Inter\', sans-serif; font-size: 17px;")
                i.fab.fa-chrome  
                | Chromebooks
            li
              a.dropdown-item(href="/downloads/linux/OnlyFriends.AppImage", style="font-family: \'Inter\', sans-serif; font-size: 17px;")
                i.fab.fa-linux  
                | Linux
          .joinWaitlist(style="display: inline-block;")
            button.btn.btn-primary.download-btn.mx-3(type="button")
              a#waitlistClick(style="font-size:18px; font-family: \'Inter\', sans-serif;", onclick="waitlistClick();") &nbsp; Play now &nbsp;

        br
        br
        a(style="font-family: Nunito; font-weight: 600; color: #1aa4ec;") We're slowly letting people off the waitlist to ensure that nothing breaks.
      section.mt-5(data-aos="fade-up", data-aos-duration="1000")
        .container.mt-5
          .row
            .col-lg
              h3.section-title.text-start Meet people
              h1.section-describe.text-start Suddenly space exists.
              h5.section-info.text-start Only hear and talk to those around you. Group up at the dining table for double the people.
            .col-lg(style="margin-right: 25px;")
              video.section-video.mt-3(width="100%", muted, playsinline, autoplay, loop)
                source(src="videos/meet-people.mp4", type="video/mp4")
      section.mt-5(data-aos="fade-up", data-aos-duration="1000")
        .container.mt-5
          .row
            .col-lg
              h3.section-title.text-start Play games
              h1.section-describe.text-start Laughs to remember.
              h5.section-info.text-start Own the moment with a growing selection of games that just keep on getting better.
            .col-lg(style="margin-right: 25px;")
              video.section-video.mt-3(width="100%", muted, playsinline, autoplay, loop)
                source(src="videos/play-games.mp4", type="video/mp4")
      section.mt-5(data-aos="fade-up", data-aos-duration="1000")
        .container.mt-5
          .row
            .col-lg
              h3.section-title.text-start Explore
              h1.section-describe.text-start A whole new world.
              h5.section-info.text-start Exciting people to meet, games to play and places to explore. It's the start to something beautiful.

            .col-lg(style="margin-right: 25px;")
              video.section-video.mt-3(width="100%", muted, playsinline, autoplay, loop)
                source(src="videos/explore.mp4", type="video/mp4")
      .footer-clean.mt-5.mb-5()
        .container.mt-5.mb-5(style="margin-bottom: 50px;")
          //- .d-sm-block.d-md-none.d-xl-none.mb-3
          //-   span.footer-describe(style="font-size:40px; font-family: \'Lobster\', sans serif;")
          //- .d-md-block.d-sm-none.d-none.d-sm-block.mb-3
          //-   span.footer-describe(style="font-size:60px;")

          .joinWaitlist(style="display: inline-block;")
            button.btn.btn-primary.waitlist-btn-footer.ms-3(type="button")
              a#waitlistClick(style="font-size:31px; font-family: \'Nunito\', sans-serif; font-weight: bold;", onclick="waitlistClick();") &nbsp; Play now &nbsp;



    #waitlistBody.container-fluid.waitlistBody.mt-5
      .row.waitlist-rect-Lg(style="width: fit-content; block-size: fit-content; max-width: 300px;")
        h1.mt-3.mb-3(style="font-family: Nunito; font-weight: 600; color: #1aa4ec;") Join
        .col-sm.border-line
          input#email.signup-input.form-control.form-rounded.mt-1(type="text", style="font-family: Nunito; font-weight: 500; max-width: 250px;", placeholder="Email")
          input#password.signup-input.form-control.form-rounded.mt-3(type="password", style="font-family: Nunito; font-weight: 500; max-width: 250px;", placeholder="Password")
          input#password-confirmation.signup-input.form-control.form-rounded.mt-3(type="password", style="font-family: Nunito; font-weight: 500; max-width: 250px;", placeholder="Retype password")
          button.d-none(type="submit")
        #submitArea
          a#continue-step.btn.btn-primary.mt-4.mb-3.waitlist-btn(type="submit" data-step="1" style="font-weight: 600;")   Continue  

        a.login-btn-text.mb-3(onclick="loginShow();") I already have an account


    // Remove name from sign up form, change width to 300px, change button to continue, show this as the next step
    div.bg-white(id="snap-login-step" class="mt-4 d-none flex-column align-items-center text-white" style="border-radius: 20px; vertical-align: middle; width: fit-content; block-size: fit-content; width: 350px;")
      div
        br
        h5(class="font-weight-bold" style="font-family: Nunito; color: #000;") Get your Bitmoji from Snapchat!
        span(style="color: #000; font-family: Nunito;") It's how you appear
        div.d-none(id="snapkit-login-button-target" class="mt-3" style="height: 50px;")

      div
        h5(class="mt-5 font-weight-bold" style="color: #000; font-family: Nunito;") Don't have Snap?
        button(class="btn btn-sm btn-primary mt-1 px-3 mb-4 py-1" style="border-radius: 50px;" id="btn-no-snap") Use default skin
    
    div(id="name-input-step" class="mt-4 d-none flex-column align-items-center")
      div(class="p-4 bg-white flex-column position-relative" style="border-radius: 20px; width: 250px;")
        span.btn-close#back-snap-login(style="position: absolute; top: 5px; right: 5px; width: 21px; height: 21px;") ×
        input.signup-input.form-control.form-rounded.mt-1(type="text", id="name", style="font-family: Nunito; font-weight: 500; max-width: 250px;", placeholder="Your name goes here")
        small(class="mt-2 text-danger d-none" id="invalid-name-msg") Please enter your name.
        img(src="/images/default_avatar.png" class="w-100")
        small(class="py-2" style="font-family: Nunito;") How you appear
        br
        button(id="btn-finish-step" class="btn btn-sm btn-success px-3 mt-3" style="border-radius: 50px; font-weight: medium;") Finish

    div.waitlist-rect-Lg.mt-5(id="waitlist-step" class="px-5 py-4 text-white d-none flex-column align-items-center text-center" style="border-radius: 20px; width: 80vw; max-width: 700px;")
      .d-sm-block.d-md-none.d-xl-none
        span.h1-color(style="font-size:40px; color: #1aa4ec;") &nbsp;You're on the waitlist!&nbsp;
      .d-md-block.d-sm-none.d-none.d-sm-block.mb-0
        span.h1-color(style="font-size:60px; color: #1aa4ec;") &nbsp;You're on the waitlist!&nbsp;
      div(class="mt-2")
        span(id="email-validation-msg" style="font-family: Nunito; color:#000;") Verify your email to confirm your spot.
        span(class="ml-2" style="font-family: Nunito; color:#000;")  We're letting people in slowly to ensure nothing breaks. If you have a friend that has access, they can share it with you.
        video.video-container.mt-3.mb-3(muted, playsinline, autoplay, loop, style="width: 250px; display: block; margin-left: auto; margin-right: auto;")
          source(src="videos/send-invite.mp4", type="video/mp4")

    #loginBody.container-fluid.waitlistBody.mt-5
      .row.waitlist-rect-Lg(style="width: 300px;")
        h1.mt-3.mb-2(style="font-family: Nunito; font-weight: 600; color: #1aa4ec;") Welcome
        form#signin-form.mb-4
          input#signin-email.signup-input.form-control.form-rounded.mt-3(type="text", style="font-family: Nunito; font-weight: 500;", placeholder="Email")
          input#signin-password.signup-input.form-control.form-rounded.mt-3(type="password", style="font-family: Nunito; font-weight: 500;", placeholder="Password")
          button.d-none(type="submit")
        .form-check
          input#remember(type="checkbox", name="remember", checked)
          label(for="remember") &nbsp;Remember me
        #submitArea
          a#signin-submit.btn.btn-primary.waitlist-btn.mt-3.mb-3(type="submit" style="font-weight: 600;")   Enter  
        .container(style="justify-content: center;")
          a.d-none.reset-password-btn-text(href="#" id="forgot-password" style="color: #d94c3d;") Click here to reset your password

          .alert.alert-primary.mb-2.d-none(style="border:0; width: 80%; border-radius: 20px;").

            You're on the waitlist.

        a.login-btn-text.mb-3(onclick="waitlistClick();") I don't have an account
    .div-end-text.mt-5(style="bottom: 0;")
      span.end-text Only Friends Inc.
      |     
      a.end-text(href="/terms") Terms
      a() &nbsp;
      a.end-text(href="/privacy") Privacy

block scripts
  script(src="https://unpkg.com/aos@next/dist/aos.js")

  script.
    AOS.init();
    var siteUrl = "#{ siteUrl }";
    var snapkitClientId = "#{ snapkitClientId }";
    var activated = #{ activated };
  
  if isProd
    script(src="/javascripts/landing-login-signup.js")
  else
    script(src="/javascripts/landing/index.js")
    script(src="/javascripts/landing/login-signup.js")
    script(src="/javascripts/landing/snapkit-login.js")
