#lipoker-cameras-container.game-cameras-container
span.leave-game-button ×

#lipoker-iframe-container.flex-grow-1.position-relative
  iframe(id="lipoker-iframe" frameBorder="0" style="width: 100%; height: 100%; position: absolute;")
  #lipoker-loader.justify-content-center.text-center