div(id="loading-screen")
  center
    span(style="font-family: Montserrat; font-size: 25px; font-weight: 800; color: #fff;") Swiddle
    div(class="la-ball-pulse mt-3" style="transform: scale(1.35)")
      div
      div
      div
    //- h2(class="text-center font-weight-bold" style="color: #fff;") Loading
    //- div(class="p-3" style="width: 400px; border-color: #fff; border-radius: 30px;")
    //-   div(class="progress" style="height: 30px;")
    //-     div(class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="loading-progress")
  //- center
  //-   h5.text-center.font-weight-bold#loadingMsgTips(style="color: #fff;") Meow