<div id="love-hate-cameras-container" class="game-cameras-container"></div>
<span class="leave-game-button">&times;</span>
<h2 id="love-hate-question" class="text-center text-white font-weight-bold my-5"></h2>
<div id="love-hate-buttons" class="d-none justify-content-center mt-5">
    <div class="p-2 rounded-circle bg-white shadow mr-4 btn-love-hate" data-state="love">
        <img src="/images/love.png" />
    </div>
    <div class="p-2 rounded-circle bg-white shadow ml-4 btn-love-hate" data-state="hate">
        <img src="/images/hate.png" />
    </div>
</div>
<div id="love-hate-result" class="d-none justify-content-center">
    <div class="w-25 d-flex flex-column align-items-center" id="love-result">
        <img src="/images/love.png" width="30" class="mb-3" />
    </div>
    <div class="w-25 d-flex flex-column align-items-center" id="hate-result">
        <img src="/images/hate.png" width="30" class="mb-3" />
    </div>
</div>
<button class="btn btn-light" id="btn-love-hate-next">Next</button>
<h3 class="wating-next-round text-white text-center w-100 font-weight-bold">Waiting for next round</h3>
