extends layout

block vars
  - var bodyClass = 'login';

block content
  div(class="header-title")
    h1 
      span(class="white") Swiddle
      //- span(class="white-blue2") .io 

  div(id="content" class="mt-4 d-flex align-items-center justify-content-center")
    center
      div(style="background-color: white; border-radius: 20px; width: 300px; padding: 25px;")
        h1(style="margin-bottom: 0px; margin-top: 0px;") Hey 
          span(class="text-primary" style="margin-bottom: 0px; color: #2ba3ff;") #{ name } 👋
        h3(style="margin-top: 0px; color: #757575;") Enter your new password
        input.signup-input.form-control.form-rounded(type="password" id="password" placeholder="New password" style="width: 200px; height: 30px; outline: none; border-radius: 20px; border: 0; background-color: #f2f2f2; padding: 7px; font-family: Nunito;")
        button(id="btn-reset-password" class="btn btn-success px-3 py-1 mt-3" style="margin-top: 10px; margin-bottom: 5px; border-radius: 50px; border: 0; cursor: pointer; padding: 10px 15px; color: #fff; background-color: #00c954; font-weight: bold; font-family: Inter;") Finish

block scripts
  script.
    var email = '#{ email }';
    var token = '#{ token }';

  if isProd 
    script(src="/javascripts/landing-login-signup.js")
  else
    script(src="/javascripts/landing/login-signup.js")
