#richup-cameras-container.game-cameras-container
span.leave-game-button ×

#richup-iframe-container.flex-grow-1.position-relative
    iframe(id="richup-iframe" frameBorder="0" style="width: 100%; height: 100%; position: absolute; background-color: #150e1d;")
    #richup-loader.justify-content-center.text-center