<meta name="description" content="Go out into the world, meet new people, play games, and vibe with friends!">
<meta name="keywords" content="virtual world, onlyfriends, Swiddle, swiddle.io, onlyfriends io, meet new people, play games, vibe with friends">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="swiddle.io">
<meta property="og:description" content="Go out into the world, meet new people, play games, and vibe with friends!">
<meta property="og:url" content="https://swiddle.io">
<meta property="og:site_name" content="Swiddle">
<meta property="og:image" content="https://swiddle.io/images/favicon.png">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">