<span class="leave-game-button">&times;</span>
<div class="d-flex justify-content-around mx-5 px-5">
  <div class="uwo-seat-1 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="right: 0; transform: rotate(-10deg);" />
  </div>
  <div class="uwo-seat-2 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="right: -20px;" />
  </div>
  <div class="uwo-seat-3 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="right: -10px;" />
  </div>
  <div class="uwo-seat-4 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="transform: rotate(-5deg);" />
  </div>
  <div class="uwo-seat-5 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="transform: rotate(15deg);" />
  </div>
</div>
<div class="d-flex justify-content-between mx-5">
  <div class="uwo-seat-6 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="right: -20px; transform: rotate(50deg);" />
  </div>
  <div id="discardDeckDiv" style="margin-top: 30px !important; min-width: 200px; margin-left:55px"></div>
  <div class="uwo-seat-7 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="transform: rotate(-50deg); left: -20px;" />
  </div>
</div>
<div class="d-flex justify-content-between" style="margin: -50px 200px 0;">
  <div class="uwo-seat-8 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="right: -20px; transform: rotate(30deg);" />
  </div>
  <div class="uwo-seat-9 seat d-none">
    <div class="timer">
      <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed"
          fill="none" style="stroke-dashoffset: 0px;"></circle>
      </svg>
    </div>
    <p class="text-center uwo-remaining-cards">7 cards</p>
    <img class="uwo-back-card-img" src="/uwo/images/back.png" style="transform: rotate(-30deg); left: -20px;" />
  </div>
</div>

<div id="my-uwo-seat" class="uwo-seat-0 seat d-none">
  <div class="timer">
    <svg width="190" height="190" xmlns="http://www.w3.org/2000/svg">
      <circle class="circle_animation" r="85" cy="95" cx="95" stroke-width="15" stroke="#4fb7ed" fill="none"
        style="stroke-dashoffset: 0px;"></circle>
    </svg>
  </div>
  <button class="btn btn-sm btn-danger" id="call-uwo" onclick="callUno()">UWO</button>
</div>

<div id="my-uwo-cards"></div>

<div id="wildColor"></div>
<div id="overlay">
  <p><span id="choose-color-close">×</span></p>
  <div id="text text-center" style="display: flex; justify-content: center;">
    <div class="main-container">
      <div class="size red-circle" onclick="selectWildColor('red')"></div>
      <div class="size blue-circle" onclick="selectWildColor('blue')"></div>
      <div class="size yellow-circle" onclick="selectWildColor('yellow')"></div>
      <div class="size green-circle" onclick="selectWildColor('green')"></div>
    </div>
  </div>
</div>