center
  img(src="/images/whack-a-mole/header.png" style="border-radius: 15px;")
h1.mt-3.text-center
  span.whack-core 0
a.btn.btn-danger#start-whack-a-mole(onclick="startWhackGame()") START
.game
  .hole.hole1
    .mole
  .hole.hole2
    .mole
  .hole.hole3
    .mole
  .hole.hole4
    .mole
  .hole.hole5
    .mole
  .hole.hole6
    .mole