extends ../webflow-layout.pug

block content
  include webflow/mint.html

  #metamask-signin(style="display: none;")
block scripts
  script.
    $(document).ready(function() {
      var anchors = document.getElementsByTagName("a");

    for (var i = 0; i < anchors.length; i++) {
        anchors[i].href = (anchors[i].href).replace('.html','');
        anchors[i].href = (anchors[i].href).replace('index','');
    }
    });

  script(src="/javascripts/crypto.js")